version: '3.9'

services:


  nginx:
    image: nginx:1.24
    # build: ./build/nginx
    depends_on:
      - wordpress
    container_name: nginx
    hostname: nginx
    ports:
      - {{ NGINX_PORT }}:{{ NGINX_PORT }}
    networks:
      net:
        ipv4_address: {{ NGINX_IPV4 }}
    volumes:
      - ./build/nginx/confs/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./build/nginx/confs/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./build/nginx/confs/server.key:/etc/nginx/conf.d/server.key:ro
      - ./build/nginx/confs/server.crt:/etc/nginx/conf.d/server.crt:ro
      - source:/var/www/html:ro
    restart: always


  wordpress:
    image: wordpress:php8.2-fpm
    # build: ./build/wordpress
    depends_on:
      - mysql
    container_name: wordpress
    hostname: wordpress
    expose:
      - "{{ WORDPRESS_PORT }}"
    networks:
      net:
        ipv4_address: {{ WORDPRESS_IPV4 }}
    volumes:
      - source:/var/www/html
    env_file: ./build/wordpress/.env
    restart: always


  phpmyadmin:
    image: phpmyadmin:5.2.1
    # build: ./build/phpmyadmin
    depends_on:
        - mysql
    container_name: phpmyadmin
    hostname: phpmyadmin
    expose:
      - "{{ PHPMYADMIN_PORT }}"
    networks:
      net:
        ipv4_address: {{ PHPMYADMIN_IPV4 }}
    env_file: ./build/phpmyadmin/.env


  mysql:
    image: mysql:8.0
    # build: ./build/mysql
    container_name: mysql
    hostname: mysql
    expose:
      - "{{ MYSQL_PORT }}"
    networks:
      net:
        ipv4_address: {{ MYSQL_IPV4 }}
    volumes:
      - database:/var/lib/mysql
    env_file: ./build/mysql/.env
    restart: always


volumes:
  database:
  source:

networks:
  net:
    ipam:
      config:
        - subnet: {{ SUBNET_IP }}
